  body {
      font-family: "oxanium", cursive;
      color: aliceblue;
      background-color: rgb(10, 10, 10);
      font-size: 20px;
  }

  header {
      font-size: 30px;
      text-align: center;
      margin: 30px;
      text-shadow: 0 0 0.2em rgb(52, 3, 65), 0 0 0.2em rgb(115, 25, 167)
  }

  .calculadora {
      background-color: rgb(104, 6, 104);
      border: 2px solid rgb(9, 0, 10);
      box-shadow: 0px 0px 12px 1px rgb(72, 17, 97);
      border-radius: 8%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 345px;
      min-height: 450px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: center;
  }

  /*parte de cima*/
  .calculadora .partedecima {
      display: flex;
      flex-direction: column;
  }

  select {
      width: 320px;
      display: flex;
      align-items: center;
      padding: 3px;
      border: 2px solid rgb(0, 0, 0);
      box-shadow: 0px 0px 8px 1px rgb(24, 24, 24);
  }

  .calculadora .tela {
      margin-top: 20px;
  }

  /* parte de baixo*/
  .calculadora .partedebaixo {
      margin: 5px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      max-width: 100%;
      justify-content: center;
     
  }

  .calculadora .numeros {

      max-width: 50%;
      min-width: 50%;
      min-height: 300px;
      display: flex;
      flex-wrap: wrap;

  }

  .calculadora .operadores {

      max-width: 40%;
      display: flex;
      flex-wrap: wrap;
  }

  .calculadora .lista-numeros {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;


  }

  .calculadora .lista-operadores {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

  }

  .lista-numeros input {
      font-size: 30px;
      border: 2px solid rgb(0, 2, 8);
      border-radius: 9%;
      box-shadow: 0px 0px 8px 1px rgb(0, 0, 0);
      text-align: center;
      width: 45px;
      height: 45px;
  }

  .lista-operadores input {
      font-size: 30px;
      border: 2px solid rgb(0, 1, 7);
      border-radius: 9%;
      box-shadow: 0px 0px 8px 1px rgb(24, 24, 24);
      text-align: center;
      width: 50px;
      height: 55px;

  }

  .lista-numeros .zero input {
      font-size: 30px;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 9%;
      box-shadow: 0px 0px 8px 1px rgb(10, 10, 10);
      text-align: center;
      width: 105px;
      height: 45px;

  }

  .lista-operadores .igual input {
      font-size: 30px;
      border: 2px solid rgb(0, 2, 8);
      border-radius: 9%;
      box-shadow: 0px 0px 8px 1px rgb(15, 15, 15);
      text-align: center;
      width: 50px;
      height: 110px;
      background-color: rgb(230, 190, 82);
  }

  .lista-operadores .mais input {
      font-size: 30px;
      border: 2px solid rgb(0, 1, 7);
      border-radius: 9%;
      box-shadow: 0px 0px 8px 1px rgb(17, 17, 17);
      text-align: center;
      width: 50px;
      height: 110px;
  }
  .lista-operadores .delete input {
    background-color: rgb(236, 53, 53);
  }




  /* ::-webkit-scrollbar {
       width: 12px;
   }

   ::-webkit-scrollbar-track {
       background-color: #a293b3;
   }

   ::-webkit-scrollbar-thumb {
       background-color: #310133;
   }

   body {
       font: normal 15pt arial;
       background-color: rgb(198, 182, 207);
       color: rgb(0, 0, 0);
   }

   #titulo {
       font-family: 'Lobster Two', cursive;
       font-size: 70px;
       text-align: center;
       color: rgb(66, 20, 68);
   }

   div {
       background-color: rgb(66, 20, 68);
       width: 70%;
       padding-top: 1%;
       padding-left: 10%;
       padding-bottom: 3%;
       margin-left: 10%;
       margin-top: 3%;

   }

   input {
       font: normal 12pt arial;
       width: 90px;
       margin-bottom: 20px;
   }
   */